@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Domain
@model GamenightDetailViewModel

@if (User.Identity.Name == Model.Gamenight.Host.UserName)
{
    // Edit button
    <form method="post" asp-action="Edit" asp-controller="Gamenight">
        <input type="hidden" name="gamenightId" value="@Model.Gamenight.Id" />
        <button type="submit" class="btn btn-warning">Edit</button>
    </form>

    // Delete button
    <form method="post" asp-action="Delete" asp-controller="Gamenight">
        <input type="hidden" name="gamenightId" value="@Model.Gamenight.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
}
else
{
    if (Model.Gamenight.Participants.Any(p => p.User.UserName == User.Identity.Name))
    {
        // Unparticipate button
        <form method="post" asp-action="Unparticipate" asp-controller="Gamenight">
            <input type="hidden" name="gamenightId" value="@Model.Gamenight.Id" />
            <button type="submit" class="btn btn-warning">Unparticipate</button>
        </form>
    }
    else
    {
        // Participate button
        <form method="post" asp-action="Participate" asp-controller="Gamenight">
            <input type="hidden" name="gamenightId" value="@Model.Gamenight.Id" />
            <button type="submit" class="btn btn-success">Participate</button>
        </form>
    }
}


<div>
    <h2>@Model.Gamenight.Name</h2>
    <p>@Model.Gamenight.Description</p>
    <p>Date and Time: @Model.Gamenight.DateTime</p>
    <p>Is PG18: @Model.Gamenight.IsPG18</p>

    <h3>Host</h3>
    <p>@Model.Gamenight.Host.UserName</p>
    <p>@Model.Gamenight.Host.Email</p>


    <h3>Address</h3>
    <p>@Model.Gamenight.Address.Street</p>
    <p>@Model.Gamenight.Address.Housenumber</p>
    <p>@Model.Gamenight.Address.Postal</p>
    <p>@Model.Gamenight.Address.City</p>

    <h3>Participants</h3>
    <ul>
        @foreach (var participant in Model.Gamenight.Participants)
        {
            <li>@participant.User</li>
        }
    </ul>

    <h3>Boardgames</h3>
    <ul>
        @foreach (var boardgame in Model.Gamenight.Boardgames)
        {
            <li>@boardgame.Boardgame.Name</li>
        }
    </ul>

    <h3>Image</h3>
    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Gamenight.Image)" alt="Gamenight Image" />
</div>



<div>
    <!-- Other content of your detail page -->

   
        <div>
            <h3>Leave a Review</h3>
            <div>
            @Html.LabelFor(m => m.Review.Comment)
                @Html.TextAreaFor(m => m.Review.Comment, new { rows = 4, cols = 40 })
            @Html.ValidationMessageFor(m => m.Review.Comment)
            </div>

            <div>
            @Html.LabelFor(m => m.Review.Rating)
            @Html.DropDownListFor(m => m.Review.Rating, new SelectList(new[]
                {
                new SelectListItem { Text = "1", Value = "1" },
                new SelectListItem { Text = "2", Value = "2" },
                new SelectListItem { Text = "3", Value = "3" },
                new SelectListItem { Text = "4", Value = "4" },
                new SelectListItem { Text = "5", Value = "5" }
                }, "Value", "Text"), "Select a rating")
                @Html.ValidationMessageFor(m => m.Review.Rating)
            </div>

            <input type="submit" value="Submit Review" />
        </div>
    </div>

